@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.m-left {
    margin-left: 6px;
}

.m-top {
    margin-top: 6px;
}

.m-right {
    margin-right: 6px;
}

.m-bottom {
    margin-bottom: 6px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix {
    overflow: auto;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.f-bold {
    font-weight: bold;
}